@{
    ViewBag.Title = "Photos";
}   
 <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Photos</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="~/Content/Site.css" rel="stylesheet"/>
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/ekko-lightbox.css" rel="stylesheet" />
    
</head>
<body>
   <header>
       <div class="container">
                           <img src="~/Content/images/drink_facebook.png" class="logo"/>
                           <form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
                  </div>
                  <button type="submit" class="btn btn-default">Sign in</button><br />
                   <div class="checkbox">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div>
                </form>
            
      </div>
  </header>
 <nav class="navbar navbar-inverse" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Website</a>
             </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#">Members</a></li>
                <li><a href="#">Groups</a></li>
                <li class="active"><a href="#">Photos</a></li>     
                <li><a href="#">Profile</a></li>
            </ul>
        </div>
 </nav>
 <section>
         <div class="container">
             <div class="row">
                 <div class="col-md-8">
                     <h1 class="page-header">Photos</h1>
                     <div class="photos gallary-parrent">
                         
                          <li><a href="~/Content/images/mateen_pic.jpg" data-toggle="lightbox"><img src="~/Content/images/mateen_pic.jpg" class="img-thumbnail"></a></li>
                          <li><img src="~/Content/images/mateen_pic.jpg" class="img-thumbnail"/></li>
                          <li><img src="~/Content/images/mateen_pic.jpg" class="img-thumbnail"/></li>
                          <li><img src="~/Content/images/mateen_pic.jpg" class="img-thumbnail"/></li>
                          <li><img src="~/Content/images/mateen_pic.jpg" class="img-thumbnail"/></li>
                          <li><img src="~/Content/images/mateen_pic.jpg" class="img-thumbnail"/></li>
                         
                     </div>
                 </div>`
                   @*col-md-8  end *@
                   <div class="col-md-4">
                     <div class="panel panel-default friends">
                          <div class="panel-heading">
                            <h3 class="panel-title">My Friends</h3>
                          </div>
                          <div class="panel-body">
                            <ul>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                                <li><a class="thumbnail" href="profile.html"><img src="~/Content/images/mateen_pic.jpg" ></a></li>
                            </ul>
                              <div class="clearfix"></div>
                              <a class="btn btn-primary" href="#">View all friends</a>
                          </div>
                        </div>
                       <div class="panel panel-default groups">
                          <div class="panel-heading">
                            <h3 class="panel-title">Latest Groups</h3>
                          </div>
                          <div class="panel-body">
                            <div class="group-item">
                                <img src="~/Content/images/mateen_pic.jpg" />
                                <h4><a href="#">Sample-Group-One</a></h4>
                                <p> this is  social communication site</p>
                            </div>
                              <div class="clearfix"></div>
                               <div class="group-item">
                                <img src="~/Content/images/mateen_pic.jpg" />
                                <h4><a href="#">Sample-Group-One</a></h4>
                                <p> this is  social communication site</p>
                            </div>
                              <div class="clearfix"></div>
                               <div class="group-item">
                                <img src="~/Content/images/mateen_pic.jpg" />
                                <h4><a href="#">Sample-Group-One</a></h4>
                                <p> this is  social communication site</p>
                            </div>

                                <div class="clearfix"></div>
                              <a class="btn btn-primary" href="#">View all Groups</a>
                          </div>
                        </div>

                 </div> 
             </div>
             </div>
 </section>
 <footer>
     <div class="container">
       <p> Copy right to Mateen Khokhar</p> 
     </div>

 </footer>
     <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
     <script src="~/Scripts/ekko-lightbox.js"></script>
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
  
    <script>
            $(document).delegate('*[data-toggle="lightbox"]', 'click', function(event) {
             event.preventDefault();
            $(this).ekkoLightbox();
            }); 
   </script>
<body>
</html>



